@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


/* variables for colors */
:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

/* reseting spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* making images responsive/easier to work with */
img {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

li {
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Raleway';
    color: var(--very-dark-blue);
}

nav ul {    
    display: flex;
    align-items: center;
    gap: 24px;
}


/* ori id maqvs gamoyenebuli ertidaigive */
#logo {
    height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.sec-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    width: 327px;
    margin: 0 auto;
}

h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--very-dark-blue);
}

h3 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;  
    color: var(--very-dark-blue);
}

.sec-2  {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-grayish-blue);
}

.wrapper {
    width: 327px;
    margin: 0 auto;
}


.wrap-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--very-dark-blue);
}

.sec-1 input {
    margin-top: 32px;
}

.sec-1 button {
    margin-top: 16px;
}

input {
    width: 304px;
    height: 40px;
    border-radius: 3.13px;
    box-shadow: 2px 3px 6px 0px #00000029;
    outline: none;
    border: 0.63px solid var(--very-dark-blue);
    padding-left: 21px;
}

button {
    width: 304px;
    height: 40px;
    border-radius: 3.13px;
    background-color: var(--bright-blue);
    border: none;
    box-shadow: 2px 3px 6px 0px #00000029;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Raleway';
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #6C9BFF;
}
a:hover {
    color: #6C9BFF;
} 
.card {
    height: 169.1px;
    width: 280px;
    border-radius: 3.9px;
    box-shadow: 0px 0px 8px 4px #3838380C;
    margin-bottom: 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left; 
    background-color: white;
}



#quotes {
    max-width: 14px;
    margin-left: 20px;
    margin-top: 15px;
}


.card-text {
    width: 241px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.card-text p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    /* or 181% */
    letter-spacing: 0.384615px;
    color: var(--very-dark-blue);
    margin-bottom: 12px;
}

.ill-1 {
    max-width: 327px;
    margin: 0 auto;
}

.testimonial {
    display: flex;
    gap: 7px;
}

.testimonial img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

span {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 12px;
    font-size: 6px;
    letter-spacing: 0.3px;
}

span.bold {
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.45px;
    font-weight: 700;
}

.person {
    display: flex;
    flex-direction: column;
    gap: 1.8px;
}



footer {
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-blue);
    color: white;
    gap: 32px;
}


.phone, .email {
    display: flex;
    gap: 18px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 327px;
    margin: 0 auto;
}

footer .logo {
    filter: invert(50%) brightness(1000%) ;
    width: 327px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 65px;
}


footer nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 327px;
    margin: 0 auto;
    margin-bottom: 32px;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    
}

footer li {
    color: white;
}

.access {
    background-color: var(--desaturated-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 345px;
    gap: 24px;
}

.child-1, .child-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin: 0 auto;
    text-align: center;
}


.child-1 {
    gap: 16px;
}

.child-2  {
    gap: 8px;
}


.access input, .access button {
    height: 32px;
    width: 240px;
    border-radius: 1.5px;
    font-size: 10px;
    line-height: 12px;
}

h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.access p, footer p {
    color: white;
}

#curve-mb {
    z-index: -99;
    margin-bottom: -10px;
    margin-top: 90px;
}

#curve-lp {
    display: none;
}

.socials {
    display: flex;
    gap: 10px;
    align-self: center;
    margin-bottom: 42px;
}

.soc {
    width: 30px;
}
.soc:hover {
    filter: invert(58%) sepia(23%) saturate(2086%) hue-rotate(195deg) brightness(100%) contrast(103%);
}

.wrap-2 a {
    display: flex;
    gap: 8px;
    padding-bottom: 4px;
    align-items: center;
    color: var(--moderate-cyan);
    border-bottom: 1px solid var(--moderate-cyan);
}

.wrap-2 a:hover {
    color: #71DFCC;
    border-bottom: 1px solid #71DFCC;
}

.wrap-2 a img:hover {
    filter: invert(82%) sepia(40%) saturate(427%) hue-rotate(113deg) brightness(92%) contrast(93%);
}

@media (min-width: 1280px) {
    header {
        width: 1280px;
        margin-top: 80px;
    }
    li {
        list-style: none;
        font-size: 16px;
        line-height: 18.78px;
    }
    nav ul {    
        gap: 57px;
    }
    #logo {
        height: 49px;
    }

    .sec-1 {
        flex-direction: row-reverse;
        gap: 13px;
        text-align: left;
        width: 1280px;
        margin: 0 auto;
        align-items: center;
    }
    .ill-2 {
        max-width: 50%;
    }

    input {
        width: 320px;
        height: 45px;
    }

    .sec-1 button {
        margin: 0;
        margin-left: 16px;
    }

    button {
        width: 200px;
        height: 45px;
    }
  
    h1 {
        font-size: 40px;
        
    }
    p {
        font-size: 17px;
        letter-spacing: 0.5px;
    }

    .sec-1 input {
        margin-top: 0;
    }

    .sec-1 p {
        margin-top: 15px;
        width: 585px;
        letter-spacing: 0.53px;
        margin-bottom: 34px;
    }

    #curve-mb {
        display: none;
    }

    #curve-lp {
        display: block;
        z-index: -99;
        margin-bottom: -10px;
    }

    .sec-2  {
        flex-direction: row-reverse;
        justify-content: center;
        text-align: left;
        align-items: center;
    }

    .ill-1 {
        max-width: 542px;
    }
    .wrapper {
        width: 50%;
        margin: 0 auto;
    }

    .wrap-1 p {
        width: 529px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .wrap-1 h3 {
        font-size: 40px;
        
        margin-bottom: 38px;
        margin-top: 100px;
    }

    .wrap-2 {
        align-items: flex-start;
    }
    .card {
        height: 215px;
        width: 356px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px #3838380C;
        margin-bottom: 107px;
        margin-top: 45px;
        gap: 10px;
    }

    .card-text {
        width: 289px;
        gap: 18px;
    }
    
    .card-text p {
        font-size: 13px;
        line-height: 181%;
        letter-spacing: 0.5px;
        margin: 0;
    }

    .testimonial {
        align-items: center;
    }
    
    .testimonial img {
        width: 32px;
        height: 32px;
    }
    span {
        line-height: 15px;
        font-size: 8px;
        letter-spacing: 0.4px;
    }
    
    span.bold {
        font-size: 11px;
        line-height: 14.98px;
        letter-spacing: 0.55px;
    }
        
    .access {
        flex-direction: row;
        align-items: center;
        height: 322px;
        gap: 227px;
    }
    
    .child-1, .child-2 {
        align-items: center;
        align-items: flex-start;
        text-align: left;
        width: min(50%, 533px);
        margin: 0 auto;
    }
    
    .child-1 {
        gap: 7px;
    }
    
    
    .child-2 button {
        height: 48px;
        width: 200px;
        border-radius: 3.125px;     
        margin: 0;   
        font-size: 10px;
        line-height: 12px;
        margin-top: 14px;
    }

    .child-2 input {
        height: 48px;
        width: 480px;
        border-radius: 3.125px;
        font-size: 10px;
        line-height: 12px;
    }

    h2 {
        font-size: 32px;
        line-height: 48px;
    }

    footer {
        align-items: flex-start;
        gap: 47px;
    }

    .ftr {
        display: flex;
        gap: 200px; 
        width: 1280px;
        margin: 0 auto;
    }

    .phone, .email {
        display: flex;
        gap: 18px;
    }

    .socials {
        align-self: flex-start;
    }

    .contact {
        width: auto;
        margin: 0;
    }

    footer .logo {
        width: 1280px;
        height: 39px;
        margin-top: 92px;
    }

    footer nav {
        flex-direction: row;
        width: auto;
        gap: 200px;
    }

    footer ul {
        gap: 38px;
    }
    .icon  {
        max-width: 16px;
    }


}